.image-container {
  background-image: url("../images/bg-pattern-desktop.svg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.desk-image {
  z-index: 100;
  position: relative;
  top: -100px;
}

.box-image {
  z-index: 200;
  position: relative;
}
