/* Desktop Design*/
@media (max-width: 1440px), (min-width: 1440px) {
  .image-container {
    position: relative;
    top: 0;
    bottom: 0;

    max-width: 500px;
    min-width: 500px;

    max-height: 500px;
    min-height: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 15px;
    padding-bottom: 15px;
  }

  .background-image {
    position: absolute;
    top: -300px;
    right: 110px;
  }

  .desk-image {
    z-index: 100;

    position: absolute;
    top: 70px;
    right: 110px;
    /* transform: scaleX(-1); */
  }

  .box-image {
    z-index: 200;
    position: absolute;
    left: -90px;
    top: 205px;
    animation: move 2s linear both infinite alternate;
  }

  .no-overflow {
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    min-width: 500px;
    min-height: 530px;
  }
}

/* Mobile Design*/
@media (max-width: 375px) {
  .image-container {
    position: relative;
    top: 0;
    bottom: 0;

    max-width: 325px;
    min-width: 325px;

    max-height: 100px;
    min-height: 100px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .desk-image {
    z-index: 100;
    top: 70px;

    /* transform: scaleX(-1); */
  }

  .background-image {
    top: 50px;
  }

  .background-image,
  .desk-image {
    position: absolute;

    right: 35px;
    width: 250px;
    height: auto;
  }

  .box-image {
    visibility: hidden;
  }
  .no-overflow {
    position: relative;
    top: -200px;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 320px;
    min-height: 300px;
  }
}

@keyframes move {
  from {
    transform: translateX(10px);
  }
  to {
    transform: translate(-40px);
  }
}
