.image-container {
  position: relative;
  top: 0;
  bottom: 0;

  /* background-image: url("../images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: -230px;
  background-position-y: 150px; */
  /* transform: scaleX(-1); */

  max-width: 500px;
  min-width: 500px;

  max-height: 500px;
  min-height: 500px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 15px;
  padding-bottom: 15px;
}

.background-image {
  position: absolute;
  top: -300px;
  right: 110px;
}

.desk-image {
  z-index: 100;

  position: absolute;
  top: 70px;
  right: 110px;
  /* transform: scaleX(-1); */
}

.box-image {
  z-index: 200;
  position: absolute;
  left: -80px;
  top: 200px;
}
.no-overflow {
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  min-width: 500px;
  min-height: 530px;
}
