html {
  height: 100%;
}

body {
  background: linear-gradient(
    to bottom,
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  );
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.card-container {
  background-color: white;
  min-width: 500px;
  /*max-width: 1440px; */
  width: 1440px;
  width: 100%;
  width: auto;

  display: flex;
  flex-direction: row;
  align-items: center;

  border: none;
  border-radius: 20px;
  padding: 50px;

  /* position: relative;
  left: 0px;
  right: 0px;
  top: 0px; */

  /* flex-wrap: wrap; */
}

.image-container {
  background-image: url("../images/bg-pattern-desktop.svg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.desk-image {
  z-index: 100;
  position: relative;
  top: -100px;
}

.box-image {
  z-index: 200;
  position: relative;
}
