html {
  height: 100%;
}

body {
  background: linear-gradient(
    to bottom,
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  );
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
}

/* Desktop Design*/
@media (max-width: 1440px), (min-width: 1440px) {
  .card-container {
    background-color: white;
    min-width: 1000px;
    max-width: 1000px;

    /* max-width: 1440px; */

    width: 100%;
    width: auto;

    max-height: 1000px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    border: none;
    border-radius: 20px;

    /* flex-wrap: wrap; */
  }
}

/* Mobile Design*/

@media (max-width: 375px) {
  .card-container {
    background-color: white;
    min-width: 330px;
    max-width: 330px;
    width: 100%;
    width: auto;

    max-height: 750px;
    min-height: 448px;

    padding-bottom: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 20px;

    /* flex-wrap: wrap; */
  }
}
